<header ng-include="'/views/partials/header.html'"></header>
<div class="background-about">
  <div class="row">
    <h1 style="text-align: center; font-weight: lighter">The site was designed and programmed by:</h1>
    <h2 style="text-align: center">DAVID KRUEGER</h2>
  </div>
  <div class="row" style="padding-top: 400px">
    <h2 style="text-align: center;">dk12181@gmail.com | github.com/sohlinspire</h2>
    <h3 style="text-align: center; font-weight: lighter">The programs used to code this site are:</h3>
    <h3 style="text-align: center;">Javascript HTML5 CSS3 AngularJS Node Express Postico SQL Heroku Bootstrap SweetAlert2</h3>
  </div>
</div>
