<header ng-include="'/views/partials/header.html'"></header>
<div class="background-writing">
  <div class="row" style="text-align: left; padding-top: 25px; padding-left: 35px">
      <button type="button" class="btn btn-default">INSTRUCTIONS</button>
  </div>

  <div class="row" style="padding-left: 150px">
    <div class="col-sm-5">
      <h1>Editing: Step 2</h1>
      <h2>Try A Strategy To Improve Your Writing</h2>
      <p style="font-size: 20px">Choose a simple sentence in your story to make better.</p>
    </div>
    <div class="col-sm-1" style="text-align: right; font-size: 50px; color: blue">&rarr;</div>
    <div class="col-sm-6">
      <textarea rows="4" cols="50" ng-model="ec.data.story.writing"></textarea>
      <a href="#/start"><button class="btn btn-primary" ng-click="ec.updateStory(ec.data.story.writing, ec.data.story.id)">Update Writing</button></a>
      <p style="font-size: 20px">Copy a simple sentence from above and paste it below.</p>
      <textarea type="text" ng-model="ec.data.strategy"></textarea>
      <a href="#/strategy"><button class="btn btn-primary">Submit</button></a>
    </div>
  </div>
</div>
