<header ng-include="'/views/partials/header.html'"></header>
<div class="background-writing">
  <div style="text-align: left; padding-top: 25px; padding-left: 35px">
    <button type="button" class="btn btn-default btn-lg" ng-click="ec.instructions()">INSTRUCTIONS</button>
  </div>
  <div class="row" style="padding-left: 35px">
    <div class="col-sm-5">
      <h1>Editing</h1>
      <h2>Try A Strategy To Improve Your Writing</h2>
      <p>Choose a simple sentence in your story to make better.</p>
    </div>
    <div class="col-sm-7">
      <textarea rows="10" cols="50" ng-model="ec.data.story.writing"></textarea>
      <a href="#/start"><button class="btn btn-primary btn-lg" ng-click="ec.updateStory(ec.data.story.writing, ec.data.story.id)">Update Writing</button></a>
      <p>Copy a simple sentence from above and paste it below.</p>
      <textarea rows=5 cols="25" type="text" ng-model="ec.data.strategy"></textarea>
      <a href="#/strategy"><button class="btn btn-primary btn-lg">strategy 1</button></a>
      <a href="#/strategy2"><button class="btn btn-primary btn-lg">strategy 2</button></a>
    </div>
  </div>
</div>
