<header ng-include="'/views/partials/header.html'"></header>
<div class="background-writing" style="height: 1000px; width: 1500px">
<!-- <div class="btn-group" uib-dropdown is-open="status.isopen">
  <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem"><a href="#">Action</a></li>
    <li role="menuitem"><a href="#">Another action</a></li>
    <li role="menuitem"><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li role="menuitem"><a href="#">Separated link</a></li>
  </ul>
</div> -->
<div class="col-sm-6"  style="margin-top: 150px; padding-left: 75px">
  <p style="font-size: 25px; color: white; font-weight: light">Ideas are free. Enter yours below.</p>
  <!-- text typed on DOM is being sent on click to the organizer controller -->
  <textarea rows="4" cols="50" ng-model="ic.data.idea" name="" value=""></textarea>
  <button class="btn btn-primary btn-lg" onclick="location.href='#/organizer';">Begin Writing</button>
  <div>
    <p style="font-size: 18px; color: white; font-weight: light">If you are stuck, click below.</p>
    <button class="btn btn-primary btn-lg" ng-click="ic.getRandomIdea()">Choose a Random Topic</button>
  </div>
</div>
<div class="col-sm-6 row text-center">
  <img src="../vendors/images/pexels-photo_ideas.jpg" style="padding-right: 30px;">
  <p style="padding-right: 85px; text-align: right; font-size: 17px; color: white; font-weight: light">Almost always, great new ideas don't emerge from within a single person or function,
    but at the intersection of functions or people that have never met before.</p>
  <p style="padding-left: 75px; font-size: 20px">-Clayton M. Christensen</p>
</div>

</div>
