
<header ng-include="'/views/partials/header.html'"></header>
<div class="background-intro">
  <div style="padding-left: 775px; padding-top: 50px; font-family: serif;">
    <h1 style="font-size: 60px">Intro to Creative Writing</h1>
    <br></br>
    <h3 style="font-size: 28px">Writing a story can be difficult. By far, the hardest part is getting started.</h3>
    <br></br>
    <p  style="font-size: 28px; margin-right: 100px">This site will make writing easier by taking you through the writing process:</p>
    <ul style="font-size: 20px; list-style-type:circle">
      <li>The practice begins with help generating an idea.</li>
      <li>Next, a graphic organizer will be used to develop your idea.</li>
      <li>These sentence pieces will then be used to start writing your story.</li>
      <li>Lastly, once your story has some form, there are strategies to use to help add details to your writing.</li>
    </ul>
    <div class="row" style="text-align: right; padding-top: 50px; padding-right: 135px">
      <a href="#/start"<button type="button" class="btn btn-default">CONTINUE</button></a>
    </div>
  </div>
<div>
