<header ng-include="'/views/partials/header.html'"></header>
<div class="background-writing">
<div>
  <div style="text-align: left; padding-top: 25px; padding-left: 35px">
      <button type="button" class="btn btn-default" ng-click="oc.instructions()">INSTRUCTIONS</button>
      <h2 style="padding: 25px">Expand your idea by using this organizer</h2>
  </div>

  <div>
    <table class="table2 table-borderless">
      <thead>
      </thead>
      <tbody>
        <!-- text typed on DOM is being sent on click to the writing controller -->
        <tr class="form-group">
          <td class="col-sm-4"></td>
          <td class="col-sm-4" style="padding: 25px">WHO?<input class="form-control input-lg" id="inputlg" type="text" ng-model="oc.data.who"></td>
          <td class="col-sm-4"></td>
        </tr>
        <tr class="form-group">
          <td class="col-sm-4">HOW?<input class="form-control input-lg" id="inputlg" type="text" ng-model="oc.data.how"></td>
          <td class="col-sm-4" style="padding: 25px"></td>
          <td class="col-sm-4">WHAT?<input class="form-control input-lg" id="inputlg" type="text" ng-model="oc.data.what"></td>
        </tr>
        <tr class="form-group">
          <td class="col-sm-4"></td>
          <td class="col-sm-4" style="padding: 25px;">IDEA<input class="form-control input-lg" id="inputlg" type="text" ng-model="oc.data.idea"></td>
          <td class="col-sm-4"></td>
        </tr>
        <tr class="form-group">
          <td class="col-sm-4">WHY?<input class="form-control input-lg" id="inputlg" type="text" ng-model="oc.data.why"></td>
          <td class="col-sm-4" style="padding: 25px"></td>
          <td class="col-sm-4">WHERE?<input class="form-control input-lg" id="inputlg" type="text" ng-model="oc.data.where"></td>
        </tr>
        <tr class="form-group">
          <td class="col-sm-4"></td>
          <td class="col-sm-4" style="padding: 25px">WHEN?<input class="form-control input-lg" id="inputlg" type="text" ng-model="oc.data.when"></td>
          <td class="col-sm-4"></td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: center">
      <button class="btn btn-primary" ng-click="oc.addIdea(oc.data)">Begin Writing</button>
    </div>
  </div>
</div>
</div>
