<header ng-include="'/views/partials/header.html'"></header>

<div class="background-start">
  <ul>
    <li><a href="#/user">User Home</a></li>
    <li><a href="#/info">About</a></li>
  </ul>
  <div>
    <table class="table1 table-borderless">
      <thead>
          <tr>
            <th style="padding: 20px; font-size: 50px; font-family: serif; font-weight: lighter; letter-spacing: 2px;">List of Writings</th>
            <th style="font-family: serif; font-size: 18px; font-weight: lighter; letter-spacing: 2px;">EDIT</th>
            <th style="font-family: serif; font-size: 18px; font-weight: lighter; letter-spacing: 2px;">DELETE</th>
          </tr>
      </thead>
      <tbody style="font-size: 20px; color: white" ng-repeat="list in sc.writingList">
        <tr class="form-group active">
          <td class="col-sm-8"  style="padding: 12px; letter-spacing: 1px; font-family: serif; font-weight: lighter; font-style: italic">
            <p class="teaser">{{list.writing | limitTo:100}}...</p>
          </td>
          <td>
            <a href="#/writing">
              <p data-placement="top" data-toggle="tooltip" title="Edit"><button ng-click="sc.getStoryForUpdate($index)" class="btn btn-primary btn-xs col-sm-2" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
            </a>
          </td>
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete"><button ng-click="sc.deleteStory(list.id)" class="btn btn-danger btn-xs col-sm-2" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center" style="padding: 10px">
    <!-- button click brings user to idea controller to begin writing-->
    <button class="btn btn-primary" onclick="location.href='#/idea';">New Writing</button>
  </div>
</div>
</body>
