<div>
  <h1>List of Writings</h1>
  <div ng-repeat="list in sc.writingList">
    <table  class="table table-borderless">
      <thead>
      </thead>
      <tbody>
        <tr class="form-group active">
          <td class="col-sm-8"><p class="teaser">{{list.writing | limitTo:100}}...</p></td>
          <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs col-sm-2" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
          <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs col-sm-2" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center">
        <!-- button click brings user to idea controller to begin writing-->
        <button class="btn btn-primary btn-lg" onclick="location.href='#/idea';">New Writing</button>
  </div>
</div>
