<div>
  <h1>Your Sentence</h1>
  <textarea rows="4" cols="50" ng-model="sc.data"></textarea>
</div>
<div>
  <h2>Add Details To Your Sentence</h2>
</div>
<div>
  <p>When?</p>
  <input type="text" name="" value="">
</div>
<div>
  <p>What kind?</p>
  <input type="text" name="" value="">
</div>
<div>
  <p>Where?</p>
  <input type="text" name="" value="">
</div>
<div class="">
  <p>Who's?</p>
  <input type="text" name="" value="">
</div>
<div>
  <h3>Rewrite Your Sentence With New Details</h3>
  <textarea rows="4" cols="50" ng-model="sc.data"></textarea>
  <a href="#/start" <button class="btn btn-primary btn-lg" ng-click="sc.updateStory()">Update Sentence</button></a>
</div>
