<!-- p tag info from organizer ng-model -->
<div>
  <p>Idea: {{wc.data.idea}}</p>
  <p>Who? {{wc.data.who}}</p>
  <p>What? {{wc.data.what}}</p>
  <p>Where? {{wc.data.where}}</p>
  <p>When? {{wc.data.when}}</p>
  <p>Why? {{wc.data.why}}</p>
  <p>How? {{wc.data.how}}</p>
</div>
<textarea rows="4" cols="50" ng-model="wc.postStory"></textarea>
<a href="#/start" <button class="btn btn-primary btn-lg" ng-click="wc.addStory(wc.postStory)">Save New Writing</button></a>
<textarea rows="4" cols="50" ng-model="wc.data.story.writing"></textarea>
<a href="#/start" <button class="btn btn-primary btn-lg" ng-click="wc.updateStory(wc.data.story.writing, wc.data.story.id)">Update Writing</button></a>
<!-- ng-model="wc.writing" wc.writing -->
