
<header ng-include="'/views/partials/header.html'"></header>
<div class="background-writing">
  <div style="text-align: left; padding-top: 25px; padding-left: 35px">
    <button type="button" class="btn btn-default btn-lg" ng-click="wc.instructions()">INSTRUCTIONS</button>
  </div>
  <div>
    <div class="col-sm-4" style="padding-left: 125px; padding-top: 25px">
      <h1>Writing</h1>
      <div style="color: white">
        <p><u>Idea</u>: {{wc.data.idea}}</p>
        <p><u>Who?</u> {{wc.data.who}}</p>
        <p><u>What?</u> {{wc.data.what}}</p>
        <p><u>Where?</u> {{wc.data.where}}</p>
        <p><u>When?</u> {{wc.data.when}}</p>
        <p><u>Why?</u> {{wc.data.why}}</p>
        <p><u>How?</u> {{wc.data.how}}</p>
      </div>
    </div>
    <div class="col-sm-1" style="padding-top: 100px; font-size: 50px; color: blue">&rarr;</div>
    <div class="col-sm-7">
      <p>Begin your story in the text field below:</p>
      <p>Make sure to save your writing.</p>
      <textarea rows="10" cols="75" ng-model="wc.postStory"></textarea>
      <div class="col-sm-4 row">
        <button class="btn btn-primary btn-lg" ng-click="wc.addStory(wc.postStory)">Save New Writing</button>
      </div>
      <div class="col-sm-4 row">
        <p>Your story was saved here: </p>
      </div>
      <div class="col-sm-4 row">
        <a href="#/start"><button class="btn btn-primary btn-lg">List of Writings</button></a>
      </div>
      <!-- <div class="col-sm-6 row" style="padding-left: 125px">
        <a href="#/edit"><button class="btn btn-primary btn-lg" ng-click="wc.addStory(wc.postStory)">Edit Writing</button></a>
        <p>Return here using the <img src="../vendors/images/edit_icon.png"> (EDIT) icon located on the next page.</p>
      </div> -->
    </div>
  </div>
</div>



<!-- p tag info from organizer ng-model -->
<!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="This is a roolover. A new line. How long can I make this?">
  ?
</button> -->
