
<header ng-include="'/views/partials/header.html'"></header>
<div class="background-writing">

  <div class="row" style="padding: 75px; margin-left: 75px">
    <h1>Writing: Step 1</h1>
    <div class="col-sm-5" style="font-size: 20px; color: white">
      <p>Idea: {{wc.data.idea}}</p>
      <p>Who? {{wc.data.who}}</p>
      <p>What? {{wc.data.what}}</p>
      <p>Where? {{wc.data.where}}</p>
      <p>When? {{wc.data.when}}</p>
      <p>Why? {{wc.data.why}}</p>
      <p>How? {{wc.data.how}}</p>
    </div>
    <div class="col-sm-1" style="text-align: right; font-size: 50px; color: blue">&rarr;</div>
    <div class="col-sm-6">
      <p style="font-size: 20px">Begin your story in the text field below:</p>
      <textarea rows="4" cols="50" ng-model="wc.postStory"></textarea>
      <a href="#/start" <button class="btn btn-primary" ng-click="wc.addStory(wc.postStory)">Save New Writing</button></a>
      <p style="font-size: 20px">Before heading to Step 2, save your writing.</p>
      <p style="font-size: 20px">Return here using the <img src="../vendors/images/edit_icon.png"> (EDIT) icon located on the next page.</p>
    </div>
  </div>




<!-- p tag info from organizer ng-model -->
<!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="This is a roolover. A new line. How long can I make this?">
  ?
</button> -->
